- title "Términos y condiciones de uso"
%h1
  T&eacute;rminos de Uso
%p
  %strong
    = link_to "casadeplaya.com", root_path 
  es una p&aacute;gina web donde los anunciantes autorizados y h&aacute;biles 
  para contratar -sean &eacute;stos propietarios o sus agentes autorizados - ofrecen 
  en alquiler o venta inmuebles a todos los usuarios interesados en realizar una transacci&oacute;n 
  de este tipo u obtener informaci&oacute;n sobre &eacute;stas.
%p
  Cada vez que ingrese a esta p&aacute;gina usted acepta las CONDICIONES LEGALES bajo 
  las cuales los servicios de casadeplaya.com se brindan as&iacute; como la versi&oacute;n 
  vigente de &eacute;stas, las que podr&aacute;n ser cambiadas en cualquier momento sin previo aviso.
%p
  El usuario/anunciante reconoce y acepta que toda la informaci&oacute;n suministrada ser&aacute; 
  de conocimiento p&uacute;blico, no responsabiliz&aacute;ndose casadeplaya.com 
  por el uso que terceros puedan efectuar de la informaci&oacute;n obtenida de esta p&aacute;gina.
%p
  Toda la informaci&oacute;n que brinda
  %strong
    = link_to "casadeplaya.com", root_path
  , es &iacute;ntegramente suministrada por los anunciantes. En tal sentido
  %strong
    = link_to "casadeplaya.com", root_path
  no garantiza la veracidad de la informaci&oacute;n suministrada en esta p&aacute;gina 
  ni de la descripci&oacute;n ni el estado de las propiedades publicadas en ella. 
  %strong
    = link_to "casadeplaya.com", root_path 
  no garantiza las transacciones que de &eacute;sta se deriven 
  ni de las p&eacute;rdidas y/o perjuicios consecuentes.
%p
  %strong
    = link_to "casadeplaya.com", root_path 
  puede descontinuar en cualquier momento y sin previo aviso los servicios 
  brindados por esta p&aacute;gina as&iacute; como la participaci&oacute;n del 
  anunciante cuando &eacute;ste suministre informaci&oacute;n falsa o inexacta.
%p
  Cualquier controversia que surja en relaci&oacute;n a lo establecido en las 
  presentes CONDICIONES LEGALES se sujetar&aacute; a la ley peruana y a los jueces 
  y tribunales de la ciudad de Lima.
