- form_for [@user, @documento] do |f|
  = f.error_messages
  %p
    = f.label :nombre
    %br
    = f.text_field :nombre

  %p
    = f.submit "Registrar"
  %p
    Datos adicionales para tesis
  %p
    = f.label :caratula
    %br
    = f.text_area :caratula, :cols=>85, :rows=>10
  %p
    = f.label :agradecimientos
    %br
    = f.text_area :agradecimientos, :cols=>85, :rows=>10
  %p
    = f.label :dedicatoria
    %br
    = f.text_area :dedicatoria, :cols=>85, :rows=>10
  %p
    = f.label :resumen
    %br
    = f.text_area :resumen, :cols=>85, :rows=>10
  %p
    = f.label :abstract
    %br
    = f.text_area :abstract, :cols=>85, :rows=>10
  %p
    = f.check_box :poner_lot
    = f.label :poner_lot, "Poner lista de tablas"
    %br
    = f.check_box :poner_lof
    = f.label :poner_lof, "Poner lista de figuras"

  %p
    = f.submit "Registrar"
